<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <httpHandlers>
      <add verb="GET,POST" path="Default.ashx" type="Arunav.Net.TestApp.DefaultHandler, Arunav.Net.TestApp"/>
    </httpHandlers>
    <httpModules>
      <add name="MainModule" type="Arunav.Net.TestApp.MainModule, Arunav.Net.TestApp"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Arunav.Net.TestApp.DefaultHandler" verb="GET,POST" path="Default.ashx" type="Arunav.Net.TestApp.DefaultHandler, Arunav.Net.TestApp"/>
    </handlers>
    <modules>
      <add name="MainModule" type="Arunav.Net.TestApp.MainModule, Arunav.Net.TestApp" />
    </modules>
  </system.webServer>
</configuration>